<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>

  <body>
    <%- include("partials/navbar") %>
      <div class="container m-4">
        <h1>
          <%= title %>
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quos cum quo repellendus sint molestiae
          incidunt quibusdam blanditiis, illo nostrum corporis saepe ipsa a! Porro id ut deleniti aliquid nam?</p>
      </div>
  </body>

</html>