<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
      <div class="container m-4">
        <!-- Kita lakukan loop untuk mnjalankan include untuk komponen article-->
        <% articles.forEach(i=> { %>
          <div class="container mb-2">
            <h1>
              <%= i.title %> <span class="badge badge-primary">
                  <%= i.id %>
                </span>
            </h1>
            <p>
              <%= i.body %>
            </p>
          </div>
          <% }) %>
      </div>
  </body>

</html>