<!DOCTYPE html>
<html>

<%- include("partials/head"); %>

  <body>
    <%- include("partials/navbar")%>
      <div class="container m-44">
        <h1>
          <%= title %>
        </h1>
        <p>
          <%= subTitle %>
        </p>
      </div>
  </body>

</html>