<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

  <body>
    <form action="/user/register" method="POST">
      <label for="username">username</label>
      <br>
      <input type="text" name="username" placeholder="input username">
      <br>
      <label for="password">password</label>
      <input type="password" name="password" placeholder="input password">
      <button type="submit">Login</button>
    </form>
  </body>

</html>